/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
@import url("pygment.css");

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 1.875rem 0 0 0;
    padding: 0;
    background: #7e776f url("../images/img01.jpg") repeat left top;
    font-family: "Liga Comic", "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 1.125rem;
    color: #3e3b36;
}
.summary h2 {
    font-size: 1.6em;
    color: black;
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #f0e9e9;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    text-decoration: none;
    color: #4d8d99;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header-wrapper {
    background: #3c3230;
    border-bottom: 0.625rem solid #4f4440;
}

#header {
    max-width: 59.375rem;
    margin: 0 auto;
    padding: 0 0 0 1.875rem;
}

/* Logo */

#logo {
    max-width: 17.5rem;
    margin: 0;
    padding: 0;
    background: url("../images/img07.jpg") no-repeat left top;
    color: #34312c;
}

#logo h1,
#logo p {
    margin: 0;
    padding: 0;
    letter-spacing: -0.125rem;
    text-align: center;
    font-family: "Liga Comic", "Comic Sans MS", "Comic Sans", sans-serif;
}

#logo h1 {
    margin: 0 0 -1.25rem 0;
    padding: 1.25rem 0 0 0;
    font-size: 3.125rem;
    color: #4d8d99;
}

#logo h1 a {
    color: #f0e9e9;
}

#logo p {
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #34312c;
}

/* Search */

#search {
    max-width: 17.5rem;
    padding: 1.25rem 0 0 0;
    background: url("../images/img05.jpg") no-repeat left 0.9375rem;
}

#search form {
    margin: 0;
    padding: 0;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 12rem;
    padding: 0 0.3125rem 0.125rem 0.625rem;
    border: none;
    background: none;
    text-transform: lowercase;
    font: normal 0.875rem "Liga Comic", "Comic Sans MS", "Comic Sans", sans-serif;
    color: #34312c;
}

#search-submit {
    width: 4.375rem;
    height: 1.375rem;
    border: none;
    background: none;
    text-indent: -99999px;
    color: #34312c;
}

/* Menu */

#menu {
    max-width: 17.5rem;
    margin: 1.25rem auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 3.125rem 0 0 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    border-bottom: 1px dashed #6b605a;
}

#menu a {
    display: block;
    max-width: 16.25rem;
    margin: 0.25rem 0;
    padding: 0.5rem 0 0 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Liga Comic", "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    color: #fff;
}

#menu a:hover,
#menu .current_page_item a {
    background: url("../images/img06.jpg") no-repeat left top;
    text-decoration: none;
}

/* Page */

#page {
    max-width: 62.5rem;
    margin: 0 auto;
    background: #7e776f url("../images/img04.jpg") repeat-y left top;
}

#page-bgtop {
    background: #7e776f url("../images/img02.jpg") no-repeat left top;
}

#page-bgbtm {
    overflow: hidden;
    padding: 1.25rem 2.5rem;
    background: #7e776f url("../images/img03.jpg") no-repeat left bottom;
}

/* Content */

#content {
    float: right;
    width: 62%;
    padding: 4.375rem 1.875rem 0 3.75rem;
    background: #faf6ee;
}

.post {
    margin-bottom: 2.5rem;
}

.post .title {
    padding: 0;
    font-family: "Liga Comic", "Comic Sans MS", "Comic Sans", sans-serif;
    letter-spacing: -0.03125rem;
}

.post .title a {
    color: #52483e;
    border: none;
}

.post .meta {
    margin-bottom: 0;
    padding: 0.625rem 0 0 0;
    text-align: left;
    font-family: "Liga Comic", "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 0.8125rem;
    font-weight: bold;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .entry {
    padding: 0 0 1.25rem 0;
    border-bottom: 1px dotted #99938b;
    text-align: justify;
}
.post .entry dt {
    font-weight: bold;
}

.post img {
    margin: 0.625rem;
    border: black;
    max-width: 100%;
    height: auto;
}
.summary img {
    display: none;
}

.entry h2 {
    font-size: 1.6em;
    color: #36302a;
}

.entry h3 {
    font-size: 1.2em;
    color: #36302a;
}
h2.title {
    font-size: 2.8em;
}

.highlight {
    background: black;
    padding: 2px;
    overflow: auto;
}

.highlight pre {
    color: white;
    font-family: "Comic Mono", "Adale Mono", "Courier New", Courier, monospace;
}

.links {
    padding-top: 1.25rem;
    font-size: 0.75rem;
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 33%;
    margin: 0;
    padding: 0 0 5rem 0.625rem;
    color: #ccc;
    background: #3c3230;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0 0 0 1.25rem;
    padding-bottom: 1.875rem;
}

#sidebar li li {
    line-height: 2.2rem;
    border-bottom: 1px dashed #6b605a;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -1.25rem;
    padding: 0;
    font-size: 0.6875rem;
    font-style: italic;
}

#sidebar li li a {
    color: #ccc;
}

#sidebar li li a:hover {
    color: #f0e9e9;
}

#sidebar h2 {
    letter-spacing: -0.03125rem;
    font-size: 1.8em;
}

#sidebar p {
    margin: 0;
    padding: 0 1.25rem 1.25rem 1.25rem;
}

#sidebar a {
    border: none;
}

#sidebar-extras {
    float: left;
    width: 33%;
    padding: 0 0 5rem 0.625rem;
    color: #ccc;
    background: #3c3230;
}

#sidebar-extras ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-extras li {
    margin: 0;
    padding: 0;
}

#sidebar-extras li ul {
    margin: 0 0 0 1.25rem;
    padding-bottom: 1.875rem;
}

#sidebar-extras li li {
    line-height: 2.2rem;
    border-bottom: 1px dashed #6b605a;
    border-left: none;
}

#sidebar-extras li li a {
    color: #ccc;
}

#sidebar-extras li li a:hover {
    color: #f0e9e9;
}

#sidebar-extras h2 {
    letter-spacing: -0.03125rem;
    font-size: 1.8em;
}

#sidebar-extras a {
    border: none;
}

/* Calendar */

#calendar_wrap {
    padding: 1.25rem;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    max-width: 57.5rem;
    margin: 0 auto;
    padding: 0 0 0.9375rem;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 1.25rem;
    line-height: normal;
    font-size: 0.5625rem;
    text-transform: uppercase;
    text-align: center;
    color: #69635e;
}

#footer a {
    color: #474440;
}

@media screen and (max-width: 48rem) {
    html { font-size: 90%; }

    #page { width: 100%; }
    #page-bgbtm { padding: 0.9375rem; }
    #header { padding: 0 0.9375rem; }
    #content { float: none; width: 100%; padding: 1.25rem; }
    #sidebar { float: none; width: 100%; padding: 1.25rem; }
    #sidebar-extras { float: none; width: 100%; padding: 1.25rem; }
    #footer { padding: 0.9375rem; }
    #logo, #menu, #search { max-width: 100%; }
    #menu a { max-width: 100%; }
    #search-text { width: 100%; }
    .post img { max-width: 100%; height: auto; }
}
